.body-faq {
  height: 900px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../../img/faqbg.png);
  background-repeat: no-repeat;
  background-size: 1440px 900px;
  flex-direction: column;
}

.faq-toptext h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq-content {
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: solid red 1px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 75%;
}

.question-section {
  background: transparent;
  border: 1px solid #cebd86;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 65%;
  color: #cebd86;
  margin-bottom: 20px;
  font-size: 17px;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
}

.question-align h4 {
  margin-left: 8px;
}

.question-styling {
  font-size: 17px;
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #cebd86;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(180deg);
}

.answer-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}
