.body-section3 {
  height: 1700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../../img/s3bg.png);
  background-repeat: no-repeat;
  background-size: 1440px 1700px;
  flex-direction: column;
}
.sec3-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sec3-arrows {
  margin-top: 2.5%;
}

.sec3-pointers {
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -42%;
}

.p1,
.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sec3-fc2-text {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sec3-p1-text {
  height: 90%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-left: -5%;
}

.sec3-p2-text {
  height: 90%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
}

.sec3-p3-text {
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-right: -10%;
}

.sec3-foot-button button {
  background-color: #cebd86;
  height: 40px;
  width: 185px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10%;
}
